<div class="row">
<div class="col-md-12">
<h1>Executando deploy de "<%=@application.name%>" do projeto "<%=@application.project%>" em <%=@application.server.name.upcase%></h1>

<br/>

<iframe src="<%=deploy_application_path(@application)%>" width="100%" height="550" id="console-output"></iframe>
</div>
</div>

