<div class="row">
<div class="col-md-12">
<h1>Servidores de QA da fábrica</h1>
<table class="table">
<tr><td colspan="6" align="right"><%= link_to 'Console Log', show_console_log_servers_path, class: 'btn btn-primary', disabled: 'disabled' %>&nbsp;<%= link_to 'Refazer Túneis', show_rebuild_tunnels_servers_path, class: 'btn btn-warning', disabled: 'disabled' %>&nbsp;<%= link_to 'Reiniciar Servidor', show_restart_servers_path, class: 'btn btn-danger' %></td></tr>
<% @servers.each do |server| %>
<tr><td colspan="6"><h2><%=server.name%></h2></td></tr>
<% server.applications.each do |app| %>
<tr>
 <td><%=app.application_type%></td>
 <td><%=app.name%></td>
 <td><%=app.project%></td>
 <td><a href="<%=app.url%>" target="_blank"><%=app.url%></a></td>
 <td><%=app.package%></td>
 <td><button type="button" class="btn btn-primary new-deploy" data-target="<%=app.id%>">Novo Deploy</button>
</tr>
<tr class="form-deploy" id="tr-<%=app.id%>" style="display:none;">
 <td colspan="6">
  <%= form_for app, html: {class: 'form-inline'} do |f| %>
    <div class="form-group">
    <label>Projeto</label>
    <%= f.text_field :project, class: 'form-control' %>
    </div>
    <label>Pacote</label>
    <div class="form-group">
    <%= f.file_field :package, class: 'form-control' %>
    </div>
    <%= f.submit "Deploy", class: 'btn btn-danger' %>
  <% end %>
 </td>
</tr>
<% end %>

<% end %>
</table>
</div>
</div>
