<!DOCTYPE html>
<html>
<head>
<title>Dublin</title>
<%# stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
<%# javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="<%=root_path%>"><span><%= image_tag "claro.png", width: 30, height: 30 %></span> QA Claro/Vendas (SysMap)</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">
<li><a href="http://www.cvv.org.br" target="_blank">Ajuda</a></li>
</ul>
</div>
</div>
</nav>
</div>

<div class="container" style="padding-top: 70px;">
<%= yield %>
</div>

</body>
</html>
